HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Added: Secrets & environment ###
.env
application-local.properties
application-secret.properties

### Added: Logs ###
*.log
logs/

### Added: OS files ###
.DS_Store
Thumbs.db

### Added: Compiled classes ###
*.class
*.jar
*.war